<section class="burger-headline">
    <h1>Yum-Yum-Burger Eatery</h1>
    <h4>Ready to get a bellyache?</h4>
</section>
<section>
    <input>
    <button id="submit-button">Gimme This</button>
    <p>Enter your burger order and then hit the gimme button.</p>
</section>

